.bumper {
        margin:140px;
        
}
.description {
        line-height: 20px;
        
        
        
}
.entry-date { 
        text-align:center;
        font-style:italic;
        font-family: cursive;
}
body {
        background-color: Tan;
        margin-left: 30px;
        margin-right: 380px;
        
        
    }
.header {
        text-align: center;
        font-family: "Marck Script", cursive;
        font-style: oblique;
        font-size: 40px;
        color: sienna;
        width: 100%;
        height: 90px;
        
        position: absolute;
        top:0px;
        background-color: floralwhite;
        line-height: 60px;
        margin-right: -30px;
        margin-left: -30px;
        
        
}
.entry-text{
        width: 78%;
        line-height: 20px;
}
.intro {
}
.subtitle{
        position: absolute;
        
        text-align: center;
        color: sienna;
        font-family: "Spectral SC", fantasy;
        font-style: italic;
        top: 30px;
    }

.intro-quote {
        font-family: fantasy;
        float:right;
        width: 260px;
        clear: right;
        font-size: 15px;
        left: 500px;
        bottom: 1px;
        margin: 60px;
        left: 87%;
        z-index: 4;
    }
.navbar {       
    }
.navel {
        position:fixed;
        text-align: center;
        z-index: 4; 
        bottom: -20px;
        background:floralwhite;
        width: 105%;
        height: 50px;
        right:1px;
        padding-top:20px;
    }
  
.navlink {
        margin-left:20px;
        color:saddlebrown;
        right:10px:
}
.quote {
        background-color: floralwhite;
        position: fixed;
        z-index: 4;
        left: 67%;
        top: 100px;
    }
.entry {
        margin-top: 20px;
        position: relative;
}
.entry-pic {
        width: 330px;
        border: 7px silver ridge;
        margin-top: 20px;
}
.Credits {
        margin-left:10px;
        font-size:10px;
        right:10px;
        color: saddlebrown;
        margin-top: 5px;
}
