header {text-align: center;
        font-family: "Marck Script", cursive;
        font-style: oblique;
        font-size: 40px;
        color: sienna;
        width: 103%;
        height: 90px;
        right: 7px;
        position: relative;
        bottom: 8px;
        background-color: floralwhite;
        line-height: 60px;
    }
.entry-date { text-align:center;
font-style:italic;
font-family: cursive;
}
body { background-color: Tan;
    }
.entry-text{
width: 78%;
}
.intro {
}
.subtitle{position: relative;
bottom: 63px;
text-align: center;
color: sienna;
font-family: "Spectral SC", fantasy;
font-style: italic;
    }
    .intro-quote{font-family: fantasy;
    float:right;
    width: 260px;
    clear: right;
        font-size: 15px;
    left: 500px;
        bottom: 1px;

    }
    .navbar {
            
    }
    .navel {
    position:fixed;
    text-align: center;
     z-index: 4; 
            bottom: -4px;
            background:floralwhite;
            width: 103%;
            height: 40px;
            right:2px;
            paddingtop:10px;
    }
    .Netherlands {

        margin-left:20px;
        color:saddlebrown;
            
            right: 10px;
            
        }
.France { margin-left:20px;
        color:saddlebrown;
        right:10px;
}
        .England {
        margin-left:20px;
        color:saddlebrown;
                right: 10px;
        }
        .Switzerland {
        margin-left:20px;
        color:saddlebrown;
                right:10px;
        }
    .quote {


    }
.entry {
    margin-top: 20px;
     position: relative;
}
.entry-pic {width: 300px;

    border: 7px silver ridge;
margin-top: 20px;
}
